In [58]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [59]:
#read dataset
print(os.listdir('../input'))
NBA = pd.read_csv('../input/nba-regular-season-stats-20182019/nbastats2018-2019.csv')
print(NBA.head())
list(NBA.columns)

['nba-regular-season-stats-20182019']
           Name  Height  Weight                   Team  Age    Salary  Points  \
0  Alex Abrines      78     200  Oklahoma City Thunder   25   5455236     5.3
1    Quincy Acy      79     240           Phoenix Suns   28    213949     1.7
2  Jaylen Adams      74     190          Atlanta Hawks   22    236854     3.2
3  Steven Adams      84     265  Oklahoma City Thunder   25  24157304    13.9
4   Bam Adebayo      82     255             Miami Heat   21   2955840     8.9

   Blocks  Steals  Assists  ...    MP   G   PER  OWS  DWS   WS   WS48   USG  \
0     0.2     0.5      0.6  ...  19.0  31   6.3  0.1  0.6  0.6  0.053  12.2
1     0.4     0.1      0.8  ...  12.3  10   2.9 -0.1  0.0 -0.1 -0.022   9.2
2     0.1     0.4      1.9  ...  12.6  34   7.6 -0.1  0.2  0.1  0.011  13.5
3     1.0     1.5      1.6  ...  33.4  80  18.5  5.1  4.0  9.1  0.163  16.4
4     0.8     0.9      2.2  ...  23.3  82  17.9  3.4  3.4  6.8  0.171  15.8

   BPM  VORP
0 -3.4  -0.2
1 -5.9  -0.1
2 -4.4  -0.3
3  2.7   3.2
4  3.0   2.4

[5 rows x 27 columns]

['Name',
 'Height',
 'Weight',
 'Team',
 'Age',
 'Salary',
 'Points',
 'Blocks',
 'Steals',
 'Assists',
 'Rebounds',
 'FT%',
 'FTA',
 'FG3%',
 'FG3A',
 'FG%',
 'FGA',
 'MP',
 'G',
 'PER',
 'OWS',
 'DWS',
 'WS',
 'WS48',
 'USG',
 'BPM',
 'VORP']

In [60]:
Team_Names = pd.DataFrame(NBA.Team.unique())
Team_Names = Team_Names.dropna()
print(Team_Names)

                         0
0    Oklahoma City Thunder
1             Phoenix Suns
2            Atlanta Hawks
3               Miami Heat
5        San Antonio Spurs
6                Utah Jazz
7            Brooklyn Nets
8   Portland Trail Blazers
9        Memphis Grizzlies
10          Indiana Pacers
11         Milwaukee Bucks
12         Toronto Raptors
13           Chicago Bulls
14      Washington Wizards
15           Orlando Magic
16       Charlotte Hornets
17        Sacramento Kings
18         New York Knicks
19      Los Angeles Lakers
20        Dallas Mavericks
21          Denver Nuggets
22  Minnesota Timberwolves
23          Boston Celtics
24    Los Angeles Clippers
25   Golden State Warriors
26    New Orleans Pelicans
27      Philadelphia 76ers
28         Detroit Pistons
29         Houston Rockets
30     Cleveland Cavaliers

In [61]:
Team_stats = NBA.groupby("Team")
print(Team_stats)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f90bd841198>